{% extends "layout.html" %}

{% block content %}
    <div class="about">
        <h3>Welcome to DOWNTUBE.</h3>
        <br>
        <h4>You can download your favourite YouTube <i class="fab fa-youtube"></i> Videos OR Audio here in just a few steps.</h4>
        <br>
        <p>How to download videos/audio?</p>
        <ul class="steps">
            <li><i class="fas fa-circle-notch"></i> &nbsp;Get the share link of your favourite YouTube Video.</li>
            <li><i class="fas fa-circle-notch"></i> &nbsp;Put it in the above input box.</li>
            <li><i class="fas fa-circle-notch"></i> &nbsp;Click 'Go'.</li>
            <li><i class="fas fa-circle-notch"></i> &nbsp;Select the resolution of video OR audio as per your choice.</li>
            <li><i class="fas fa-circle-notch"></i> &nbsp;The Video/Audio will be downloaded.</li>
        </ul>
        <br>
        <small>If you have any input for us, feel free to give your feedback.</small>
    </div>


{% endblock content %}